body {
background-color:#e5e0e6;
font-family: arial;
line-height:1.25;

}
p1{
	font-size: 25px;
	margin:100px;

	
	
}
a{
	color:#876ce0;
	target:_blank;
	
}

img{
	border: 3px solid #000000;
	width:900px;
	margin-top:10px;
	margin-bottom:30px;
	margin-right:20%;
	margin-left:23%;
	box-shadow: 15px 8px 20px;
	border-radius: 5%;
	
}
footer {
	text-align:center;
	font-size:10px;
	margin-top:20px;
}
div {
	
	font-size: 70px;
	margin-top:15px;
	margin-bottom:30px;
}
h1{
	margin-left:40px;
	margin-top:50px;
	margin-bottom:10px;
}
.par{
	margin: 0 auto;
	border: solid 2px;
	padding-left: 50px;
	padding-right: 50px;
	
}
 table{
 
	padding: 10px;
	margin:100px;
}
th {
	border:solid 2px;
	padding:20px;
	
}
.table{
	margin: 20 auto;
	background-color:white;
}




.zagolovok{
	text-align:center;
}
input{
    color: initial;
    display: inline-block;
    text-align: start;
    background-color: white;
    cursor: text;
    font: 400 13.3333px Arial;
    padding: 10px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
	margin-left:1400px;
	
}
